<template name="adminPlayer">
	{{> addPlayer}}
	{{> playerOverview}}
</template>

<template name="addPlayer">
	<div class="post">
		<form class="form-inline">
			<input name="sname" type="text" class="form-control" placeholder="Name Spieler/in">
			<input name="aname" type="text" class="form-control" placeholder="Name Akteur/in">
			<input name="krz" type="text" class="form-control" placeholder="Kürzel">
			<button type="submit" class="btn btn-default pull-right">Hinzufügen</button>
		</form>
	</div>
</template>

<template name="playerName">
	<div class="post">
		<a href="/">{{aname}}, {{krz}} </a><span>{{sname}}</span>
		<button type="button" class="btn btn-danger pull-right">Entfernen</button>
	</div>
</template>

<template name="playerOverview">
	<div class="posts">
		{{#each player}}
			{{> playerName}}
		{{/each}}
	</div>
</template>